.expansion {
  display: flex;
  align-items: center;
  justify-content: space-around;
  .expansion__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    width: 60%;
    .num__expansion {
      font-weight: 800;
      font-size: 1.1rem;
    }
    .pic__expansion {
      border-radius: 10px;
      object-fit: contain;
      margin-left: -30%;
      height: 5.4rem;
      width: 5.4rem;
      cursor: pointer;
    }
    .name__expansion__wrap {
      font-size: 1rem;
      width: 150%;
      .name__expansion {
      }
      .songt__expansion {
        color: rgb(184, 182, 182);
      }
    }
  }
  .love__expansion {
    color: rgb(184, 182, 182);
    font-size: 1.5rem;
    margin-left: 20%;
    cursor: pointer;
  }
  .love__expansions {
    color: rgb(255, 136, 0);
    font-size: 1.5rem;
    margin-left: 20%;
    cursor: pointer;
  }
}
