.landing {
  background-color: black;
  color: aliceblue;
  width: 100%;
  #one {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 5%;
    .text__wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .text__one {
        font-size: 2.7rem;
      }
      .button__one {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 20px;
        padding: 1.5%;
        width: 12rem;
        margin-top: 35px;
      }
    }
    .image__one__wrap {
      //   display: flex;
      //   .blur {
      //     height: 40rem;
      //     width: 1rem;
      //     background: linear-gradient(to left, transparent,  rgb(196, 18, 18, 0.4), rgba(173, 19, 19));
      //   }
      .image__one {
        width: 40rem;
        height: 35rem;
        object-fit: contain;
      }
    }
  }
  #two {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
    .text__two__wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: column;
      max-width: 30rem;
      .text__two__head {
        font-size: 3rem;
        margin-bottom: 4%;
        color: rgb(255, 136, 0);
      }
      .text__two {
        font-size: 1.3rem;
        margin-bottom: 4%;
      }
    }
    .logo__two {
      height: 30rem;
      width: 30rem;
      object-fit: contain;
    }
  }
}
