.landing {
  background-color: black;
  color: aliceblue;
  width: 100%;
  #one {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 7%;
    .text__wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .text__one {
        font-size: 2.7rem;
      }
      .button__one {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 20px;
        padding: 1.5%;
        width: 12rem;
        margin-top: 35px;
      }
    }
    .image__one__wrap {
      //   display: flex;
      //   .blur {
      //     height: 40rem;
      //     width: 1rem;
      //     background: linear-gradient(to left, transparent,  rgb(196, 18, 18, 0.4), rgba(173, 19, 19));
      //   }
      .image__one {
        width: 40rem;
        height: 35rem;
        object-fit: contain;
      }
    }
  }
  #two {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 7%;
    .text__two__wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: column;
      max-width: 30rem;
      .text__two__head {
        font-size: 3rem;
        margin-bottom: 4%;
        color: rgb(255, 136, 0);
      }
      .text__two {
        font-size: 1.3rem;
        margin-bottom: 4%;
      }
    }
    .logo__two {
      height: 30rem;
      width: 30rem;
      object-fit: contain;
    }
  }
  #three {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 7%;
    .three__blanket {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .three__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        .three__header {
          font-size: 3.5rem;
          color: rgb(255, 136, 0);
        }
        .play__wrap {
          display: flex;
          align-items: flex-start;
          justify-content: space-around;
          flex-direction: column;
        }
        .play__text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 150%;
          .view__all {
            font-weight: 200;
            font-size: 0.8rem;
            cursor: pointer;
          }
          .view__title {
            font-weight: 800;
            cursor: pointer;
          }
        }
        .play__comp__wrap {
          display: flex;
          align-items: center;
          justify-content: space-around;
          cursor: pointer;
          margin-left: 25%;
        }
      }
      .three__button {
        padding: 5%;
        background-color: rgb(255, 136, 0);
        border-radius: 50%;
        cursor: pointer;
        border: none;
        margin-left: 55%;
        .greater {
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }

    .playphone {
      object-fit: contain;
      width: 40rem;
      height: 50rem;
    }
  }
}
