.landing {
  background-color: black;
  color: aliceblue;
  width: 100%;
  #one {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 7%;
    .text__wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .text__one {
        font-size: 2.7rem;
      }
      .button__one {
        background-color: rgba(0, 0, 0, 0);
        border-radius: 20px;
        padding: 1.5%;
        width: 12rem;
        margin-top: 35px;
      }
    }
    .image__one__wrap {
      //   display: flex;
      //   .blur {
      //     height: 40rem;
      //     width: 1rem;
      //     background: linear-gradient(to left, transparent,  rgb(196, 18, 18, 0.4), rgba(173, 19, 19));
      //   }
      .image__one {
        width: 40rem;
        height: 35rem;
        object-fit: contain;
      }
    }
  }
  #two {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 7%;
    .text__two__wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: column;
      max-width: 30rem;
      .text__two__head {
        font-size: 3rem;
        margin-bottom: 4%;
        color: rgb(255, 136, 0);
      }
      .text__two {
        font-size: 1.3rem;
        margin-bottom: 4%;
      }
    }
    .logo__two {
      height: 30rem;
      width: 30rem;
      object-fit: contain;
    }
  }
  #three {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 7%;
    .three__blanket {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .three__wrap {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        .three__header {
          font-size: 3.5rem;
          color: rgb(255, 136, 0);
        }
        .play__wrap {
          display: flex;
          align-items: flex-start;
          justify-content: space-around;
          flex-direction: column;
        }
        .play__text {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 150%;
          margin-top: 10%;
          .view__all {
            font-weight: 200;
            font-size: 0.8rem;
            cursor: pointer;
          }
          .view__title {
            font-weight: 800;
            cursor: pointer;
          }
        }
        .play__comp__wrap {
          display: flex;
          align-items: center;
          justify-content: space-around;
          cursor: pointer;
          margin-left: 30%;
        }
      }
      .three__button {
        padding: 5%;
        background-color: rgb(255, 136, 0);
        border-radius: 50%;
        cursor: pointer;
        border: none;
        width: 5rem;
        margin-left: 55%;
        .greater {
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }

    .playphone {
      object-fit: contain;
      width: 40rem;
      height: 50rem;
      margin-top: 17%;
    }
  }
  #four {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .phoneexp {
      object-fit: contain;
      height: 40rem;
      width: 35rem;
    }
    .four__wrap {
      display: flex;
      align-items: flex-start;
      justify-content: space-around;
      flex-direction: column;
      height: 80vh;
      .expansion__header {
        font-size: 4rem;
        color: rgb(255, 136, 0);
      }
      .expansion__text {
        max-width: 55%;
        font-size: 1.2rem;
      }
      .expansion_play__wrap {
        width: 52%;
        margin-left: -2%;
      }
      width: 50%;
    }
  }
  #five {
    height: 100vh;
    width: 100%;
    .five__wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      .five__background {
        height: 55vh;
        width: 100%;
        background-color: rgb(255, 136, 0);
        display: flex;
        justify-content: space-around;
        align-items: center;
        .five__image {
          width: 20rem;
          height: 30rem;
          object-fit: contain;
          margin-left: 10%;
        }
        .five__text__wrap {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          height: 100%;
          margin-left: 25%;
          .five__header {
            font-size: 3.1rem;
            font-weight: 300;
            width: 70%;
            color: black;
            font-weight: 900;
          }
          .five__list {
            .list__wrap {
              display: flex;
              align-items: center;
              color: black;
              .dot {
                width: 0.5rem;
                height: 0.5rem;
                background-color: yellow;
                border-radius: 50%;
                margin-right: 10px;
                p {
                  color: black;
                }
              }
            }
          }
          .five__button {
            padding: 0.5%;
            border: none;
            border-radius: 30px;
            min-width: 9rem;
            background-color: rgba(0, 0, 0, 0.8);
            color: rgb(255, 136, 0);
            margin-top: 3%;
          }
        }
      }
    }
  }
  #six {
    height: 100vh;
    width: 100%;
    .six__wrap {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      .six__header {
        color: rgb(255, 136, 0);
        font-size: 3.5rem;
      }
      .six__image__wrap {
        //
      }
    }
  }
  #seven {
    height: 100vh;
    width: 100%;
    .seven__header {
      font-size: 3.5rem;
      color: rgb(255, 136, 0);
      text-align: center;
    }
    .card__wrap {
      display: flex;
      justify-content: space-around;
      margin-top: 10%;
    }
  }
  #eight {
    height: 100vh;
    width: 100%;
    .eight__wrap {
      display: flex;
      align-items: center;
      justify-content: space-around;
      .eight__image {
        height: 80%;
        width: 30%;
      }
      .eight__text {
        width: 30%;
        .eight__header {
          font-size: 3.2rem;
          color: rgb(255, 136, 0);
        }
        p {
          font-weight: 200;
        }
      }

      .eight__image__wrap {
        img {
          width: 9rem;
          height: 8rem;
          object-fit: contain;
        }
      }
    }
  }
  #footer {
    height: 50vh;
    width: 100%;
    .footer__wrap {
      background-color: rgba(54, 51, 51, 0.8);
      height: 50vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .left__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 35%;
        img {
          height: 5rem;
          width: 5rem;
        }
        .copy__right {
        }
        .legal {
          display: flex;
          justify-content: space-between;
          width: 10rem;
        }
      }
      .footer__center {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 40%;
      }
      .footer__right {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 45%;
        p {
        }
        .icons {
          display: flex;
          justify-content: space-between;
          width: 50%;
        }
        .download__wrap {
          img {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
          }
        }
      }
    }
  }
}
