@import "styles/header.scss";
@import "styles/landing.scss";
@import "styles/play.scss";
@import "styles/expansion.scss";
@import "styles/card.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
}
